@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-pale: hsl(225, 100%, 94%);
    --clr-primary-bright: hsl(245, 75%, 52%);
    --clr-blue-dark: hsl(223, 47%, 23%);
    --clr-blue-desaturated: hsl(224, 23%, 55%);
    --clr-blue-pale: hsl(225, 100%, 98%);
}

body {
    font-size: 1.6rem;
    font-family: 'Red Hat Display', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.card {
    &--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: var(--clr-primary-pale);
        // background-image: url('../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0 2rem;

        @media (max-width: 500px) { 
            background-image: url('../images/pattern-background-mobile.svg');
        }

        @media (min-width: 501px) {
            background-image: url('../images/pattern-background-desktop.svg');
        }
    }

    width: 100%;
    max-width: 375px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;

    &--header {
        line-height: 0;
    }

    &--body {
        padding: 30px;
    }

    &--title {
        font-weight: 900;
        font-size: 2.6rem;
        line-height: 1.7;
        margin-bottom: .4rem;
        text-align: center;
    }

    &--desc {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        text-align: center;
        color: var(--clr-blue-desaturated);
    }

    &--cta {
        margin-bottom: 1.6rem;
    }
}

.pricing {
    padding: 1.6rem 2rem;
    background-color: var(--clr-blue-pale);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2.4rem 0 3.2rem;

    &--icon {
        --icon-size: 42px;
        width: 100%;
        max-width: var(--icon-size);
        min-width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        background-image: url('../images/icon-music.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--details {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.6rem;
            line-height: 1.4;
        }

        .price {
            font-size: 14px;
            color: var(--clr-blue-desaturated);
        }
    }

    &--cta {
        margin-left: auto;
        border-bottom: 2px solid var(--clr-primary-bright);
        color: var(--clr-primary-bright);
        // font-weight: 600;

        &:hover {
            border-bottom-color: transparent;
            color: hsl(245, 75%, 69%);
        }
    }
}

.btn {
    &--primary {
        display: block;
        padding: 1.4rem;
        background-color: var(--clr-primary-bright);
        color: #fff;
        text-align: center;
        border-radius: 1.2rem;
        font-size: 1.8rem;
        font-weight: 600;
        box-shadow: 0px 8px 10px -4px hsl(245, 75%, 80%);

        &:hover {
            background-color: hsl(245, 75%, 69%);
        }
    }

    &--cancel {
        display: block;
        text-align: center;
        font-weight: 600;
        color: var(--clr-blue-desaturated);
        &:hover {
            color: #000;
        }
    }
}
